.ctAppRoot .welcome-window .vue-base,
.ctAppRoot .welcome {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ctAppRoot .welcome .center {
    overflow: auto;
    flex: 1 1 auto;
}

.ctAppRoot .welcome .bottom {
    flex: 0 0 auto;
}
